body,
html {
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow: hidden;
}

#canvas {
    width: 100vw;
    height: 100vh;
    display: block;
}

.container {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
}

.high {
    height: 80vh;
}

.low {
    height: 125vh;
}

.main-text {
    font-weight: bold;
    font-family: Helvetica;
    text-align: center;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    color: white;
}

a:active {
    text-decoration: underline;
}

.big {
    font-size: 12vw;
    color: rgb(85, 85, 85);
    text-shadow:
        0 1px 0 #555555,
        0 2px 0 #454545,
        0 3px 0 #444444,
        0 4px 0 #353535,
        0 5px 0 #333333,
        0 6px 1px rgba(0, 0, 0, .1),
        0 0 5px rgba(0, 0, 0, .1),
        0 1px 3px rgba(0, 0, 0, .3),
        0 3px 5px rgba(0, 0, 0, .2),
        0 5px 10px rgba(0, 0, 0, .25),
        0 10px 10px rgba(0, 0, 0, .2),
        0 20px 20px rgba(0, 0, 0, .15);
}

.small {
    font-size: 1.5vw;
    color: rgb(189, 189, 189);
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 45vw;
}

.column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
}