html {
    height: 100%;
}

body {
    overflow-x: hidden;
    font-family: 'Manrope', sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
}

.first {
    height: 100%;
}

.second {
    width: 100%;
    background-color: black;
    color: white;
    margin: 0px;
}

.fourth {
    color: white;
    background-color: black;
}

.map {
    width: 70%;
    display: block;
    margin: auto;
}

.vision {
    margin: 0;
    background-color: black;
}

.heading h1 {
    padding-top: 20px;
    font-size: 60px;
    text-align: center;
    margin: 0;
}

.mission {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    text-align: center;
    background-color: black;
}

.tech {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    text-align: center;
    background-color: white;
}

.row {
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 2%;
}

.column {
    flex: 1;
    width: 50%;
    height: 50%;
    overflow: hidden;
}

.columnt {
    flex: 1;
    width: 33%;
    height: 50%;
    padding: 1%;
    overflow: hidden;
}

.columnt img {
    padding: 10px;
    height: auto;
    width: 100%;
}

.column p {
    padding: 10px;
}

.column img {
    padding: 10px;
    height: auto;
    width: 100%;
}

#content {
    padding-top: 0px;
    margin: 0px;
    height: 100%;
}

.centerh {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
}

.pulldown {
    top: 15%;
}

.pullfar {
    top: 80%;
}

#name {
    font-size: 60px;
}

#arrow {
    transform: scaleY(-1);
}

#arrow img {
    width: 100px;
    height: 100px;
}

.fade {
    animation: fadein 2s;
    -moz-animation: fadein 2s;
    /* Firefox */
    -webkit-animation: fadein 2s;
    /* Safari and Chrome */
    -o-animation: fadein 2s;
    /* Opera */
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-moz-keyframes fadein {
    /* Firefox */
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-webkit-keyframes fadein {
    /* Safari and Chrome */
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-o-keyframes fadein {
    /* Opera */
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}